@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    /* list-style: none; */
}
/* HEADER */
header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
}
.left-cnt{
    display: flex;
    align-items: center;
}
.shopping-logo{
    max-width: 3em;
}
.brand{
    display: flex;
    align-items: center;
    /* space between the brand and left header links */
    padding-right: 2em;
}
.brand> *{
    margin: 0 5px;
}
.trademark{
    display: flex;
    flex-direction: column;
}
nav .left-links{
    display: flex;
    list-style-type: none;
}
.left-links > *{
    padding: 0 25px;
    text-decoration: none;
}
.left-links a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 3px #fc5f30 solid;
    transition: all .1s;
}
.left-links a:hover{
    border-bottom: 1px #d45b23 solid;
}
nav .right-links{
    display: flex;
    list-style-type: none;
}
.right-links > *{
    padding: 0 25px;
    text-decoration: none;
}
.right-links #mates{
    text-decoration: none;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-bottom: 3px #22132c solid;
    transition: all .1s;
}
.right-links #mates:hover{
    border-bottom: 1px #685953 solid;
}
.right-links #promo{
    text-decoration: none;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
