@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
    /* list-style: none; */
}
/* HEADER */
header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em;
}
.left-cnt{
    display: flex;
    align-items: center;
}
.shopping-logo{
    max-width: 3em;
}
.brand{
    display: flex;
    align-items: center;
    /* space between the brand and left header links */
    padding-right: 2em;
}
.brand> *{
    margin: 0 5px;
}
.trademark{
    display: flex;
    flex-direction: column;
}
nav .left-links{
    display: flex;
    list-style-type: none;
}
.left-links > *{
    padding: 0 25px;
    text-decoration: none;
}
.left-links a{
    text-decoration: none;
}
nav .right-links{
    display: flex;
    list-style-type: none;
}
.right-links > *{
    padding: 0 25px;
    text-decoration: none;
}
.right-links a{
    text-decoration: none;
}